@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RestaurantRater</h1>
    <p class="lead">RestaurantRater is a simple Web App that allows a user to rate their local eateries and pubs!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What it is</h2>
        <p>
            RR gives you the ability to share your reviews of the restaurants that you visit, without all the nasty info-vacuum overhead of Yelp, Google Reviews, Zomato etc.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keeping it simple</h2>
        <p>Just restaurant reviews about the things you care about like menu, cleanliness, atmosphere, value...no BS.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Privacy</h2>
        <p>We don't share your information with anyone, not even our own mothers. But your mom shares...like, a lot.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>